@keyframes slide-in-button-bottom-right {
    from {
        right: -100px;
        bottom: -100px;
        opacity: 0;
    }

    to {
        right: 2rem;
        bottom: 1rem;
        opacity: 1;
    }
}

@keyframes slide-in-button-bottom-left {
    from {
        left: -100px;
        bottom: -100px;
        opacity: 0;
    }

    to {
        left: 1rem;
        bottom: 1rem;
        opacity: 1;
    }
}

@keyframes slide-in-button-top-right {
    from {
        right: -100px;
        top: -100px;
        opacity: 0;
    }

    to {
        right: 1rem;
        top: 1rem;
        opacity: 1;
    }
}

@keyframes slide-in-button-top-left {
    from {
        left: -100px;
        top: -100px;
        opacity: 0;
    }

    to {
        left: 1rem;
        top: 1rem;
        opacity: 1;
    }
}

.menu-button {
    opacity: 0.7;
    border-radius: 50%;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 1px 1px #ccc;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 3000;
    background-color: white;
    position: fixed;
}

.menu-button:hover {
    background-color: #fafafa;
    box-shadow: none !important;
    opacity: 1;
}

.menu-button.bottom-right {
    bottom: 1rem;
    right: 2rem;
    animation: slide-in-button-bottom-right 1000ms ease-in-out;
}

.menu-button.bottom-left {
    bottom: 1rem;
    left: 1rem;
    animation: slide-in-button-bottom-left 1000ms ease-in-out;
}

.menu-button.top-right {
    top: 1rem;
    right: 1rem;
    animation: slide-in-button-top-right 1000ms ease-in-out;
}

.menu-button.top-left {
    top: 1rem;
    left: 1rem;
    animation: slide-in-button-top-left 1000ms ease-in-out;
}

@keyframes fade-in-bottom {
    from {
        bottom: calc(1rem + 45px - 300px);
        opacity: 0;
    }

    to {
        bottom: calc(1rem + 45px);
        opacity: 1;
    }
}

@keyframes fade-out-bottom {
    from {
        bottom: calc(1rem + 45px);
        opacity: 1;
    }

    to {
        bottom: calc(1rem + 45px - 300px);
        opacity: 0;
    }
}

@keyframes fade-in-top {
    from {
        top: calc(1rem + 45px - 300px);
        opacity: 0;
    }

    to {
        top: calc(1rem + 45px);
        opacity: 1;
    }
}

@keyframes fade-out-top {
    from {
        top: calc(1rem + 45px);
        opacity: 1;
    }

    to {
        top: calc(1rem + 45px - 300px);
        opacity: 0;
    }
}


.menu-wrapper {
    position: fixed;    
    overflow: hidden;        
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    z-index: 3000;
}

.menu-wrapper.bottom-right.removed {
    animation: fade-out-bottom 250ms ease-in-out;
}

.menu-wrapper.bottom-right {
    bottom: calc(1.5rem + 50px);
    right: 1rem;
    animation: fade-in-bottom 250ms ease-in-out;
}

.menu-wrapper.bottom-left.removed {
    animation: fade-out-bottom 250ms ease-in-out;
}

.menu-wrapper.bottom-left {
    bottom: calc(1.5rem + 50px);
    left: 1rem;
    animation: fade-in-bottom 250ms ease-in-out;
}

.menu-wrapper.top-right.removed {
    animation: fade-out-top 250ms ease-in-out;
}

.menu-wrapper.top-right {
    top: calc(1.5rem + 50px);
    right: 1rem;
    animation: fade-in-top 250ms ease-in-out;
}

.menu-wrapper.top-left.removed {
    animation: fade-out-top 250ms ease-in-out;
}

.menu-wrapper.top-left {
    top: calc(1.5rem + 50px);
    left: 1rem;
    animation: fade-in-top 250ms ease-in-out;
}

.menu-wrapper h5 {
    margin: 10px 20px;
}

.menu-wrapper ul {
    padding: 0px !important;
    margin: 0 !important;
    list-style-type: none;
}

.menu-wrapper li {    
    transition: background-color .3s ease-out, border .3s ease-out;
    filter: grayscale(100%);
}

.menu-wrapper li:hover {    
    transition: background-color .3s ease-out, border .3s ease-out;
}

.menu-wrapper li:not(.disabled):hover, .menu-wrapper li.selected {    
    filter: none;
}


.menu-wrapper li.disabled {
    opacity: 0.3;
}

.menu-wrapper li:not(.disabled):hover {
    background-color: #666;
    transition: background-color .3s ease-out, border .3s ease-out;
}

.menu-wrapper li img {
    
}

.menu-wrapper ul li a {
    padding: 10px 20px;
    text-decoration: none !important;
    color: white !important;
    width: 100%;
    display: block;
}

.menu-wrapper ul li.disabled{
    cursor: default;
}
